/* importation de la police Syne */
    @import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');

    body * {
        font-family: 'Syne', sans-serif;
    }

/*enlever les fleches des inputs*/
/* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
 
/* Chrome */
    input::-webkit-inner-spin-button,
    input::-webkit-outer-spin-button { 
	    -webkit-appearance: none;
	    margin:0;
    }
/***********header**************/

/*logo*/
    .menu-logo {
        width: 201px;
        height: 19px;
        display: flex;
        float: left;
        margin-top: 31px;
        margin-left: 37px;
    }

/* menu de navigation */


    .singular .entry-header{
        background-color: #ffffff;
        padding: 0rem 0;
    }

    .nav-links {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        list-style: none;
        text-decoration: none;
        color: #000;
        column-gap: 1px;
        margin-top: -5px;
    }

    body a {
        text-decoration: none;
        color: #000000;
    }

    .nav-links a {
        display: block;
        width: 236px;
        height: 80px;
        text-align: center;
        line-height: 80px;
        margin-left: -42px;     
    }
    .nav_commander {
        font-size: 16px;
        color:#ffffff;
        background-color: #dc9f96; 
    }

    .nav_commander:hover{
        background-color: #C02E44; 
    }

    .nav_rencontrer:hover{
        font-size: 13px;
    }

    ul,
    ol {
        margin: 3.8rem 0rem 0rem 0rem;
    }

    #site-navigation #menu-item-20 a {
        background-color : #DC9F96;
    }
        
    #site-navigation #menu-item-20 a:hover {
        background-color : #c02e44;
    }
    
    #menu-item-20 .text-wrap{
        color: white;
    }
    
    #site-navigation #menu-item-21 a:hover {
        font-size: 13px;
    }
    
    #menu-item-21 .text-wrap{
        color:black;
    }

/************footer***********/

    #site-footer {
        padding-bottom: 30px;
        margin-top: 30px;
        text-align: center;
        color: #000000;
        background-color: #ffffff;
        text-decoration: none;
    }

    .footer-groupboisson {
        position: relative;
    }
  
  .footer-groupboisson img {
        width: 100%;
        margin-bottom: 30px;
    }

/*********Page acceuil *********/
/*ombre sur conteneur*/
    #boite_boisson{
        border-bottom: 15px solid #E3D9D0;
        border-radius: 0% 0% 50% 50% / 10% 10% 10% 10%;
        overflow: hidden;
    }
  
    #bouton_commander {
        width: 198px;
        height: 55px;
        border-style: none;
        background-color: #E0B9B4;
        font-size: 15px;
        font-weight: 400;
        line-height: 37px;
        font-family: 'Syne', sans-serif;
        color: white;
        padding: 9px 57px;
    }

    #bouton_commander:hover {
        background-color: #c02e44;
    }



   

/********* page Nous rencontrer ************/

#field_hpw3x,
#field_tmdgv {
    height: 71px;
    border-radius: 7px;
    border: unset;
}

#field_vocq {
    height: 237px;
    border-radius: 7px;
    border: unset;
}

#field_hpw3x_label,
#field_tmdgv_label,
#field_vocq_label {
    font-family: 'Syne', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: black;
    margin-bottom: 5px;
}
  
.quantite {
    width: 70px;
    height: 56px;
    text-align: center;
    border-style: none;
    font-size: 16px;
    line-height: 19.36px;
    font-weight: 400;
}



/*********Page commande**********/
    #frmcommande{
        margin: auto;
    }

    #frmcommande h3{
        color: #fff;
        font-weight: 700;
        font-size: 30px;
    }

    #frmcommande{
        display: flex;
        justify-content: center;
        margin: 25px 0px 45px 0px;
        width: 100%;
    }

    #frminfos {
        border-right: solid 2px #fff;
    }

    #frminfos, 
    #frmlivr{
        display: inline !important;
        padding-left: 35px;
        padding-right: 35px;
    }

    .wpcf7-form{
        width: 100%;
    }

    #frmcommande label{
        font-size: 20px;
        font-weight: 400;
        color:white;
    }

    #frminfos input, 
    #frmlivr input {
        width: 383px !important; 
        height: 71px;
        background-color: #ffffff;
        border-radius: 7px;
        margin-top: 10px;
    }

    .boutoncommande{
        display: flex;
        justify-content: center;
    }

    #btncommand{
        width: 198px; 
        height: 55px;
        background-color: #E0B9B4;
        font-size: 15px;
   /* margin: 44px 331px;  
    margin-left: 455px;*/
    }

    #btncommand:hover {
        background-color: #C02E44;
    }

    .wpcf7-response-output{
        background-color: #ffffff;
        color: red;
    }

    .wpcf7-not-valid-tip{
        margin-top: 5px;
        background-color:#ffffff;
        color:red;
        border-color: red;
        border: 2px solid;
        font-size: 15px;
        padding-left: 15px;
    }

@media screen and (min-width: 634px) and (max-width: 900px){
    
    #frminfos, 
    #frmlivr{
        display: inline !important;
        padding-left: 15px;
        padding-right: 15px;
    }

    #frminfos input, 
    #frmlivr input {
        width: 350px !important; 
        height: 71px;
        background-color: #ffffff;
        border-radius: 7px;
        margin-top: 10px;
    }

    #btncommand{  
        /*margin-left: 282px;*/
    }

}

@media screen and (min-width: 350px) and (max-width: 633px){
    
    #frmcommande{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: -10px;
    }

    #frmcommande h3{
        font-size: 26px;
    }

    #frminfos, 
    #frmlivr{
        display: inline !important;
        padding-left: 10px;
        padding-right: 10px;
        margin: 10px 0px 10px 0px;
    }

    #frminfos input, 
    #frmlivr input {
        width: 300px !important; 
        height: 71px;
        background-color: #ffffff;
        border-radius: 7px;
        margin-top: 10px;
    }

    #frminfos {
        border-bottom: solid 2px #fff;
        border-right: none;
    }
    
    #btncommand{
        width: 198px; 
        height: 55px;
        background-color: #E0B9B4;
        font-size: 15px;
       /* margin: 0px  0px 0px 60px;*/
    }

}